<div class="content-container">
    <section>
        <div class="slider-container">
            <div class="slides" #slides>
                <div class="slide active">
                <img src="https://placehold.co/600x400/000000/FFFFFF/png" alt="Slide 1">
                </div>
                <div class="slide">
                <img src="https://placehold.co/600x400/051937/FFFFFF/png" alt="Slide 2">
                </div>
                <div class="slide">
                <img src="https://placehold.co/600x400/008F7A/FFFFFF/png" alt="Slide 3">
                </div>
            </div>
            <button class="prev" #prev (click)="plusSlides(-1)">&#10094;</button>
            <button class="next" #next (click)="plusSlides(1)">&#10095;</button>
        </div>      
    </section>
        
    <section id="categoryMenu">
        <div class="category-wrapper">
            <div class="category-item">
                <span class="category-icon mb-5">
                    <i class="fa fa-shapes"></i>
                </span>
                <h6>Category</h6>
            </div>
    
            <div class="category-item">
                <span class="category-icon mb-5">
                    <i class="fa fa-plane"></i>
                </span>
                <h6>Flight</h6>
            </div>
            <div class="category-item">
                <span class="category-icon mb-5">
                    <i class="fa fa-clipboard"></i>
                </span>
                <h6>Bill</h6>
            </div>
            <div class="category-item">
                <span class="category-icon mb-5">
                    <i class="fa fa-globe"></i>
                </span>
                <h6>Data Plan</h6>
            </div>
            <div class="category-item">
                <span class="category-icon mb-5">
                    <i class="fa fa-search-dollar"></i>
                </span>
                <h6>Top Up</h6>
            </div>
        </div>
        <div class="text-center mb-2">
            <i class="fa fa-grip-lines"></i>
        </div>
    </section>
      
        
    <section id="saleProduct" [ngClass]="{ 'drag': isDragging }">
        <div class="cart-head">
            <h5>Best Sale Product</h5>
            <small class="more-txt align-self-center">See more</small>
        </div>
        <div class="container">
            
            <div class="row pt-3 px-3">
                <div class="col-6 mb-3">
                    <div class="product-wrapper">
                        <div class="product-card" (click)="createRipple($event)">
                            <div class="product-card__head">
                                <img src="assets/images/shirtss.png" alt="product image" />
                                <div class="product-like">
                                    <i class="fas fa-heart"></i> 
                                </div>
                            </div>
                            <div class="product-card__body">
                                <h6>Shirt</h6>
                                <h5>Essential men's short-sleeve Crewnex T-shirt</h5>
                                <div class="d-flex justify-content-between">
                                    <span class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <span class="px-1">4.9 | 2356</span>
                                    </span> 
                                    <span class="product-price">$22.00</span>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="product-wrapper">
                        <div class="product-card" (click)="createRipple($event)">
                            <div class="product-card__head">
                                <img src="assets/images/shirtss.png" alt="product image" />
                                <div class="product-like">
                                    <i class="fas fa-heart"></i> 
                                </div>
                            </div>
                            <div class="product-card__body">
                                <h6>Shirt</h6>
                                <h5>Essential men's short-sleeve Crewnex T-shirt</h5>
                                <div class="d-flex justify-content-between">
                                    <span class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <span class="px-1">4.9 | 2356</span>
                                    </span> 
                                    <span class="product-price">$22.00</span>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div><div class="col-6 mb-3">
                    <div class="product-wrapper">
                        <div class="product-card" (click)="createRipple($event)">
                            <div class="product-card__head">
                                <img src="assets/images/shirtss.png" alt="product image" />
                                <div class="product-like">
                                    <i class="fas fa-heart"></i> 
                                </div>
                            </div>
                            <div class="product-card__body">
                                <h6>Shirt</h6>
                                <h5>Essential men's short-sleeve Crewnex T-shirt</h5>
                                <div class="d-flex justify-content-between">
                                    <span class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <span class="px-1">4.9 | 2356</span>
                                    </span> 
                                    <span class="product-price">$22.00</span>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div><div class="col-6 mb-3">
                    <div class="product-wrapper">
                        <div class="product-card" (click)="createRipple($event)">
                            <div class="product-card__head">
                                <img src="assets/images/shirtss.png" alt="product image" />
                                <div class="product-like">
                                    <i class="fas fa-heart"></i> 
                                </div>
                            </div>
                            <div class="product-card__body">
                                <h6>Shirt</h6>
                                <h5>Essential men's short-sleeve Crewnex T-shirt</h5>
                                <div class="d-flex justify-content-between">
                                    <span class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <span class="px-1">4.9 | 2356</span>
                                    </span> 
                                    <span class="product-price">$22.00</span>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div><div class="col-6 mb-3">
                    <div class="product-wrapper">
                        <div class="product-card" (click)="createRipple($event)">
                            <div class="product-card__head">
                                <img src="assets/images/shirtss.png" alt="product image" />
                                <div class="product-like">
                                    <i class="fas fa-heart"></i> 
                                </div>
                            </div>
                            <div class="product-card__body">
                                <h6>Shirt</h6>
                                <h5>Essential men's short-sleeve Crewnex T-shirt</h5>
                                <div class="d-flex justify-content-between">
                                    <span class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <span class="px-1">4.9 | 2356</span>
                                    </span> 
                                    <span class="product-price">$22.00</span>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div><div class="col-6">
                    <div class="product-wrapper">
                        <div class="product-card" (click)="createRipple($event)">
                            <div class="product-card__head">
                                <img src="assets/images/shirtss.png" alt="product image" />
                                <div class="product-like">
                                    <i class="fas fa-heart"></i> 
                                </div>
                            </div>
                            <div class="product-card__body">
                                <h6>Shirt</h6>
                                <h5>Essential men's short-sleeve Crewnex T-shirt</h5>
                                <div class="d-flex justify-content-between">
                                    <span class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <span class="px-1">4.9 | 2356</span>
                                    </span> 
                                    <span class="product-price">$22.00</span>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div><div class="col-6">
                    <div class="product-wrapper">
                        <div class="product-card" (click)="createRipple($event)">
                            <div class="product-card__head">
                                <img src="assets/images/shirtss.png" alt="product image" />
                                <div class="product-like">
                                    <i class="fas fa-heart"></i> 
                                </div>
                            </div>
                            <div class="product-card__body">
                                <h6>Shirt</h6>
                                <h5>Essential men's short-sleeve Crewnex T-shirt</h5>
                                <div class="d-flex justify-content-between">
                                    <span class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <span class="px-1">4.9 | 2356</span>
                                    </span> 
                                    <span class="product-price">$22.00</span>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div><div class="col-6">
                    <div class="product-wrapper">
                        <div class="product-card" (click)="createRipple($event)">
                            <div class="product-card__head">
                                <img src="assets/images/shirtss.png" alt="product image" />
                                <div class="product-like">
                                    <i class="fas fa-heart"></i> 
                                </div>
                            </div>
                            <div class="product-card__body">
                                <h6>Shirt</h6>
                                <h5>Essential men's short-sleeve Crewnex T-shirt</h5>
                                <div class="d-flex justify-content-between">
                                    <span class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <span class="px-1">4.9 | 2356</span>
                                    </span> 
                                    <span class="product-price">$22.00</span>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div><div class="col-6">
                    <div class="product-wrapper">
                        <div class="product-card" (click)="createRipple($event)">
                            <div class="product-card__head">
                                <img src="assets/images/shirtss.png" alt="product image" />
                                <div class="product-like">
                                    <i class="fas fa-heart"></i> 
                                </div>
                            </div>
                            <div class="product-card__body">
                                <h6>Shirt</h6>
                                <h5>Essential men's short-sleeve Crewnex T-shirt</h5>
                                <div class="d-flex justify-content-between">
                                    <span class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <span class="px-1">4.9 | 2356</span>
                                    </span> 
                                    <span class="product-price">$22.00</span>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <!-- <div class="col-6">
                      <div class="circle-container">
                        <div class="circle circle1"></div>
                        <div class="circle circle2"></div>
                        <div class="circle circle3"></div>
                      </div>  
                </div> -->
            
            </div>

        </div>
       
    </section>

    <div class="last-element"></div> 
</div>
